<div class="topnav">


  <div class="dropdown">
    <button class="dropbtn">Users 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/api/users/">list</a>
      <a href="/api/users/new">new</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Products 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/api/products/">list</a>
      <a href="/api/products/new">new</a>
    </div>
  </div> 

  <a href="/api/users/logout"  style="float:right" >Logout</a>
</div>

<div style="padding-left:16px">

</div>