<main>

  <div class=" logo-inside-wrapper mb-4">
    <img src="/img/logo_header.svg">
  </div>
</main>
<div class="topnav">
<main>
  
  <div class="dropdown">
    <button class="dropbtn">Users 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/api/users/">List</a>
      <a href="/api/users/new">New</a>
    </div>
  </div>

    <div class="dropdown">
    <button class="dropbtn">Master Head
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/api/productsmaster/">List</a>
      <a href="/api/productsmaster/new">New</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Products 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/api/products/">List</a>
      <a href="/api/products/new">New</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Inventories 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/api/inventories/">List</a>
      <a href="/api/inventories/new">New</a>
    </div>
  </div> 

     <a href="/api/transactions">Transactions</a>

  <a href="/api/users/logout"  style="float:right" >Logout</a>
</div>

</main>
<div style="padding-left:16px">

</div>
