<main>

  <div class=" logo-inside-wrapper mb-4">
    <img src="http://meenakshibuildmart.com/assets/img/logos/logo_header.svg">
  </div>
</main>
<div class="topnav">
<main>
  
  <div class="dropdown">
    <button class="dropbtn">Users 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/api/users/">list</a>
      <a href="/api/users/new">new</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Products 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/api/products/">list</a>
      <a href="/api/products/new">new</a>
    </div>
  </div> 

  <a href="/api/users/logout"  style="float:right" >Logout</a>
</div>

</main>
<div style="padding-left:16px">

</div>
