<%- include('../partials/header.ejs') %>
<div style="margin: 1%;"></div>
<%- include('../partials/navigation.ejs') %>
<main>

  <h1> New Product </h1>
  <form action="/api/productsmaster" method="POST">
    <div>
      <label for="name">Name</label>
      <input type="text" name="product_name" placeholder="Enter Name" required/>
    </div>
    <div>
      <label for="product_type">Product Type</label>

      <select name="product_type" placeholder="Enter Product Type" required>
        <option value="" selected >Select Product Type</option>
        <option value="rod">rod</option>
        <option value="non-rod">non-rod</option>

      </select>

    </div>
    

    <button type="submit" class="btn btn-primary btn-block mt-4">Add Product</button>

  </form>

</main>

</body> 
</html>